<section class="container">
        <section class="header">
            <div class="header-icon">
               <a href="/">
                   <img class="header-icon__img" src="style/images/logo.svg" alt="">
               </a> 
            </div> 
            <div class="listMenu">
               <a href="/signin"> 
                <div class="menuEl ">
                        <div class="menuEl__img">
                            <img class="menuEl__img--img " src="style/images/registration_icon.svg" alt="">
                        </div>
                        <span class="menuEl__text " >Регистрация</span>
                        <span class="item-active  "></span>
                        {{!-- <img class="menuEl__rightBorder" src="style/images/Rectangle 3.svg" alt=""> --}}
                </div> 
                </a>
            </div>
            <div class="listMenu">
                <div class="menuEl">
                    <div class="menuEl__img">
                        <img class="menuEl__img--img" src="style/images/vacancies_ico.svg" alt="">
                    </div>
                    <span class="menuEl__text">Вакансии</span>
                    
                </div>
            </div>
            <div class="listMenu">
                <div class="menuEl">
                    <div class="menuEl__img">
                        <img class="menuEl__img--img" src="style/images/enterprise_icon.svg" alt="">
                    </div>
                    <span class="menuEl__text">Компании</span>
                    
                </div>
            </div>
            <div class="listMenu">
                <div class="menuEl">
                    <div class="menuEl__img">
                        <img class="menuEl__img--img" src="style/images/university_icon.svg" alt="">
                    </div>
                    <span class="menuEl__text">Университеты (Здесь я поменял текст)</span>
                   
                </div>
            </div>       
        </section>
      
    </section>