{{> head }}
<body>

    

    <section class="container">
        <div class="header"> {{> navbar}} </div>
        <div class="main"> {{{ body }}} </div>
    </section>
        
  


    {{> footer}}
</body>
</html>