

<section class="sign">
    <section class="sign-head">
        <h1 class="sign-title">Найди работу своей мечты</h1>
    </section>
    <section class="sign-inner">
        {{!-- <div>
            <img src="/style/images/Group 17.png" alt="">
        </div> --}}

        
        <div class="sign-left">
            
            <form class="sign-form" id="login" action="https://0658fe70-64e4-49f7-b58f-2b9c165e6bc0.mock.pstmn.io/api/signup" method="POST">
                <span class="sign-form__title">Вход в аккаунт JobTime</span>
                <div class="form-input"> 
                    <input class="sign-input" name="email" type="email" placeholder="Введите e-mail">
                    <img class="form-input__icon" src="/style/images/mail.svg" alt="">
                </div>
                <div class="form-input">
                    <input class="sign-input" name="password" type="password" placeholder="Введите пароль">
                    <img class="form-input__icon" src="/style/images/lock.svg" alt="">
                </div>
                <div class="form-input">
                    <a class="reset-password" href="/resetPass">Забыли пароль?</a>
                </div>
                
                
            </form>
            <a href="/signin"> <button class="btn-register " >Зарегистрироваться</button></a>
            <button class="btn-sign active" type="submit" form="login">Войти</button>





        </div>
        <img class="main-img" src="/style/images/Group 32.svg" alt="">
        {{!-- <div class=""> --}}
            {{!-- <img class="sign-right__img" src="/style/images/image3.png" alt="">
            <div class="sign-right__div">
                
                <span class="sign-right__title">Эдуард Хегай</span>
                <span class="sign-right__desc">“Благодарю JobTime! Я смог найти работу своей мечты, где продолжаю работать на протяжении нескольких лет.”</span>
            </div> --}}
            
        </div>
    </section>
</section>