

<section class="sign">
    <section class="sign-head">
        <h1 class="sign-title">Найди работу своей мечты</h1>
    </section>
    <section class="sign-inner">
       

        
        <div class="sign-left">
            
            <form class="sign-form" id="reset" action="https://0658fe70-64e4-49f7-b58f-2b9c165e6bc0.mock.pstmn.io/api/resetPassword" method="POST">
                <span class="sign-form__title">Восстановление аккаунта JobTime</span>
                <div class="form-input"> 
                    <input class="sign-input" name="email" type="email" placeholder="Введите e-mail">
                    <img class="form-input__icon" src="/style/images/mail.svg" alt="">
                </div> 
            </form>
           
            <button class="btn-sign active" type="submit" form="reset">Восстановить</button>

        </div>
        <img src="/style/images/Group 32.svg" alt="">
        
    </section>
</section>