{{!-- <div class="sign">
    <h1 class="sign-title">Найди работу своей мечты</h1>

    <div class="sign-inner">
        <div class="sign-form">
            <form action="">
            <input class="sign-input" type="text" placeholder="Введите e-mail">
            <input class="sign-input" type="text" placeholder="Введите пароль">
            <input class="sign-input" type="text" placeholder="Повторите пароль">
            <button class="btn-sign">Зарегистрироваться</button>
            <button>Войти</button>
        </form>
        </div>
        <div class="sign-right">

        </div>
    </div>
</div> --}}


<section class="sign">
    <section class="sign-head">
        <h1 class="sign-title">Найди работу своей мечты</h1>
    </section>
    <section class="sign-inner">
        <div class="sign-left">
            
            <form id="sign" class="sign-form" action="https://0658fe70-64e4-49f7-b58f-2b9c165e6bc0.mock.pstmn.io/api/signup" method="POST">
                <span class="sign-form__title">Создайте аккаунт JobTime</span>
                <div class="form-input"> 
                    <input class="sign-input" name="email" type="email" placeholder="Введите e-mail">
                    <img class="form-input__icon" src="/style/images/mail.svg" alt="">
                </div>
                <div class="form-input">
                    <input class="sign-input" name="password" type="password" placeholder="Введите пароль">
                    <img class="form-input__icon" src="/style/images/lock.svg" alt="">
                </div>
                <div class="form-input">
                    <input class="sign-input" name="confirmPassword" type="password" placeholder="Повторите пароль">
                    <img class="form-input__icon" src="/style/images/lock.svg" alt="">
                </div>
                
            </form>

            <button class="btn-register active" type="submit" form="sign">Зарегистрироваться</button>
            <a href="/"> <button class="btn-sign">Войти</button> </a>
        </div>

        <img class="main-img" src="/style/images/Group 30.png" alt="">

        {{!-- <div class="sign-right">
            <img class="sign-right__img" src="/style/images/image3.png" alt="">
            <div class="sign-right__div">
                
                <span class="sign-right__title">Эдуард Хегай</span>
                <span class="sign-right__desc">“Благодарю JobTime! Я смог найти работу своей мечты, где продолжаю работать на протяжении нескольких лет.”</span>
            </div>
        </div> --}}
    </section>
</section>