body{
   font-family: 'BedasNeueBold', monospace;
   background: #E5E5E5;
}

@font-face{
   font-family: 'Bedas Neue';
   src: url('../fonts/bebas-neue-bold.ttf'),
   url('../fonts/bebas-neue-bold.ttf.ttf') format('truetype');
   font-weight: bols;
   font-style: normal;
}

@font-face{
   font-family: 'Proxima Nova';
   src: url('../fonts/proximanova-semibold.otf'),
   url('../fonts/proximanova-semibold.otf') format('truetype');
   font-weight: bold;
   font-style: normal;
}