.header {
    padding: 20px 0;
    /* float: left; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center;  */
    flex-direction: column;
    width: 20%;
    /* height: 100vh; */
    background: #fff;
    margin: 0 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    
}

.header-icon {
    padding: 5px 25px;
    margin-bottom: 100px;
    cursor: pointer;
    
}
    .header-icon__img {
        width: 130px;
    }

.listMenu {
    display: flex;
    /* justify-content: flex-start; */
    align-items: stretch;
    /* flex-wrap: wrap; */
    /* padding: 3px 0px 3px 25px; */
    margin-top: 30px;
    /* position: relative; */
    /* border-right: 7px solid #9B0046;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
}
    .menuEl {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* flex-wrap: wrap; */
    }
        .menuEl__rightBorder {
            /* position: absolute; */
            right: 0;
            /* transition: all .3s ease-in-out; */
        }

        .menuEl__img {

        }

        .item-active{
            width: 7px;
            height: 45px;
            background: #9B0046;
            border-radius: 5px 0px 0px 5px;
            position: absolute;
            right: -65px;
        }
            .menuEl__img--img {
                width: 28px;
            }
        .menuEl__text {
            font-size: 20px;
            line-height: 35px;
            letter-spacing: 0.05em;
            color: #323657;
            margin-left: 13px;
        }

.nav-list__item{
    list-style: none;
    font-size: 17px;
    color: rgba(0, 0, 0, .7);
    cursor: pointer;
    padding: 0 20px;
    display: flex;
    align-items:center;
    height: 70px;
}

.nav-list__item.active {
    border-bottom: 2px solid red;
}

/* .page.active {
  border: 2px solid #fff;
  background-color: #db3727;
  transition: all .3s ease-out;
  color: white;
} */


  /* .page:hover {
    background-color: #db3727;
    transition: all .3s ease-out;
    color: white;
  } */
