.sign{
    box-sizing: border-box;
    background-color: #fff;
    
}


.sign-title{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: Bebas Neue;
    font-size: 44px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #3D4CA6;
}
.sign-inner{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 5px;
    /* margin-top: 135px; */

}

/* .left-border{
    position: absolute;
    width: 78px;
    height: 692px;
    left: 293px;
    top: 304px;
    background: #3D4CA6;
} */


.sign-form{
    box-sizing: border-box;
    padding: 20px;

}
.sign-form__title{
    display: block;
    height: 40px;
    width: 345px;
    /* text-align: center; */
    font-family: Proxima Nova;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    src: url("./fonts/proximanova-semibold.otf") format("opentype");
}

.form-input{
    display: flex;
    align-items: center;
}

.form-input__icon{
   
    height: 20px;
    width: 20px;
    
}

.sign-input{
    box-sizing: border-box;
    width: 330px;
    padding: 10px;
    margin: 20px 5px;
    /* background: url('../images/lock.svg') no-repeat scroll 7px 7px; */
    padding-left:30px;
    border: none;
    border-bottom: #C4C4C4 1px solid;
    outline: none;
}

.form-btn{
    display: flex;
}

.btn-register{
    width: 200px;
    height: 58px;
    border: none;
    background: #fff;
    border-radius: 5px;
    color: #3D4CA6;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.btn-sign{
    width: 150px;
    height: 58px;
    border: none;
    background: #fff;
    border-radius: 5px;
    color: #3D4CA6;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.active{
    background: #5FC696;
    color: #fff;
}

.reset-password{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #9B0046;
    margin: 10px;
    text-align: center;
   
    margin-bottom: 25px;
}
/* 
.sign-right{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background:#3D4CA6;
}

.sign-right__div{
    display: block;
    padding: 20px;
    background: #fff;
}


.sign-right__title, .sign-right__desc{
    display: block;
}
.sign-right__title{
    font-size: 20px;
    line-height: 30px;
    color: #3D4CA6;
}

.sign-right__desc{
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
}



.sign-right__div{
    display: block;
    text-align: center;
     position: relative; 
    background: #fff;
    width: 50%;
    height: 300px;
    margin: auto;
    padding: 15px;
}

.sign-right__img{
    position: absolute;
    border-radius: 50px;
}
 */

 .main-img{
    margin-left: 10px;
 }