<section class="login">
    <div class="title">
        НАЙДИ РАБОТУ СВОЕЙ МЕЧТЫ
    </div>
    <div class="formContainer">
        <div class="loginForm">
            <span class="loginForm__title">Создайте аккаунт JobTime</span>
            <form action="" class="form">
                <input class="form__el" type="email" placeholder="Введите e-mail"><img src="../style/images/envelope 1.svg" alt="">
            </form>
        </div>
    </div>
</section>